<div  ng-controller="MainCtrl as vm">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="{{(vm.listTime.length > 0) ? vm.listTime[vm.listTime.length-1].substr(0, 5) : 0}}" comments="{{vm.listDate[vm.listDate.length-1] || vm.DateNow}}" title = "Today" colour="primary" type="comments"></stats>
        <stats number="{{(vm.listTemperature.length > 0) ? vm.listTemperature[vm.listTemperature.length-1] : 0 }}" comments="*C" title = "Temperature" colour="primary" type="user"></stats>
        <stats number="{{(vm.listRadiant.length > 0) ? vm.listRadiant[vm.listRadiant.length-1] : 0 }}" comments="W/m2" title = "Radiant" colour="yellow" type="shopping-cart"></stats>
        <stats number="0" comments="KW/h!" title = "Power" colour="red" type="support"></stats>

    </div>

    <div class="row" ng-hide="vm.isNoData === 0">
        <hr>
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" show-filter="true">
                        <tr ng-repeat="user in $data track by $index">
                            <td title="'Date'" filter="{ Date: 'text'}" sortable="'Date'">
                                {{user.Date}}</td>
                            <td title="'Time'" filter="{ Time: 'text'}" sortable="'Time'">
                                {{user.Time}}</td>
                            <td title="'Temperature'" filter="{ Temperature: 'number'}" sortable="'Temperature'">
                                {{user.Temperature}}</td>
                            <td title="'Radiant'" filter="{ Radiant: 'number'}" sortable="'Radiant'">
                                {{user.Radiant}}</td>
                        </tr>
                    </table>


                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-hide="vm.isNoData === 0">
        <hr>
        <div class="col-lg-12" >
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <!--&lt;!&ndash; /.panel &ndash;&gt;
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <timeline></timeline>
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <notifications></notifications> 
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;

            <chat></chat>
             &lt;!&ndash; /.panel .chat-panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>-->
    <!-- /.row -->
</div>
