
.folder-item-wrapper {
  text-align: center;
  .fa{
    &.icon{
      font-size: 6em;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .row{
    .title-name{
      text-align: left;
      display: inline-block;
      margin-right: 10px;
      font-weight: bold; 
      font-size: 19px;
    }
  }
  .fa, .fa:hover {
    cursor: pointer;
  }
}


.page-header-wrapper{
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  .col-lg-8 {
    &.page-header {
      border-bottom: none;
    }
  }
  .col-lg-4 {
    text-align: right;
    &.input-group {
      &.custom-search-form {
        margin: 40px 0 20px;
      }
    }
  }
}
