<div class="row" ng-controller="ngTableCtrl as vm1">
    <div class="col-lg-12 page-header-wrapper">
        <h1 class="col-lg-8 page-header">Tables</h1>
        <!--<div class="datetime-wrapper">-->
        <!--<input rm-datepicker type="text" ng-model="oDate2">-->

        <!--</div>-->
        <div class="col-lg-4 input-group custom-search-form">
            <input ng-model="vm1.oDate2" rm-datepicker type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="vm1.onGetDataTable()">
                <i class="fa fa-search"></i>
                Search
            </button>
        </span>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" ng-controller="ngTableCtrl as vm">
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <!-- <table class="table table-striped table-bordered table-hover" id="dataTables-example"> -->

                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" show-filter="true">
                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" show-filter="true">
                    <tr ng-repeat="user in vm.data">
                        <td title="'Date'" filter="{ Date: 'text'}" sortable="'Date'">
                            {{user.Date}}</td>
                        <td title="'Time'" filter="{ Time: 'text'}" sortable="'Time'">
                            {{user.Time}}</td>
                        <td title="'Temperature'" filter="{ Temperature: 'number'}" sortable="'Temperature'">
                            {{user.Temperature}}</td>
                        <td title="'Radiant'" filter="{ Radiant: 'number'}" sortable="'Radiant'">
                            {{user.Radiant}}</td>
                    </tr>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->