<div>
    <div class="row">
        <div class="col-lg-12 page-header-wrapper">
            <h1 class="col-lg-8 page-header">Tables</h1>
            <!--<div class="datetime-wrapper">-->
            <!--<input rm-datepicker type="text" ng-model="oDate2">-->

            <!--</div>-->
            <div class="col-lg-4 input-group custom-search-form">
                <input ng-model="vm.SelectDate" rm-datepicker type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="vm.onGetDataTable()">
                <i class="fa fa-search"></i>
                Search
            </button>
        </span>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!--<div class="col-lg-12" ng-hide="vm.isNoData === 0">-->
        <div class="col-lg-12">
            <div class="panel-body table-panel">
                <div class="dataTable_wrapper">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search ........" ng-model="vm.searchKeyword">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered table-striped" ng-if="vm.data.length > 0">
                        <thead>
                        <tr>
                            <td>
                                <a ng-click="vm.sortType = 'Date'; vm.sortReverse = !vm.sortReverse">
                                    Date
                                    <span ng-show="vm.sortType == 'Date' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.sortType == 'Date' && vm.sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td>
                                <a  ng-click="vm.sortType = 'Time'; vm.sortReverse = !vm.sortReverse">
                                    Time
                                    <span ng-show="vm.sortType == 'Time' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.sortType == 'Time' && vm.sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td>
                                <a  ng-click="vm.sortType = 'Temperature'; vm.sortReverse = !vm.sortReverse">
                                    Temperature
                                    <span ng-show="vm.sortType == 'Temperature' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.sortType == 'Temperature' && vm.sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td>
                                <a  ng-click="vm.sortType = 'Radiant'; vm.sortReverse = !vm.sortReverse">
                                    Radiant
                                    <span ng-show="vm.sortType == 'Radiant' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.sortType == 'Radiant' && vm.sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="item in vm.data | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchKeyword">
                            <td>{{ item.Date }}</td>
                            <td>{{ item.Time }}</td>
                            <td>{{ item.Temperature }}</td>
                            <td>{{ item.Radiant }}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



